<div>
    <div class="header">
        <div class="header_container">
            <div class="head_item">
                <div class="header_list">
                    <div class="headerListItem active">
                        <i class="fa-solid fa-bed"></i>
                        <span>Stays</span>
                    </div>
                    <div class="headerListItem">
                        <i class="fa-solid fa-plane"></i>
                        <span>Flights</span>
                    </div>
                    <div class="headerListItem">
                        <i class="fa-solid fa-car"></i>
                        <span>Car Rentals</span>
                    </div>
                    <div class="headerListItem ">
                        <i class="fa-solid fa-biohazard"></i>
                        <span>Attractions</span>
                    </div>
                    <div class="headerListItem">
                        <i class="fa-solid fa-taxi"></i>
                        <span>Airport Taxi</span>
                    </div>
                </div>
                <div class="header_text">
                    <h1>Find your next stay</h1>
                    <h3>Search deals on hotels, homes, and much more...</h3>
                </div>

            </div>

        </div>
    </div>
    <div class="header_search">

        <div class="search_container">
            <input placeholder=" Where are you going?" type="text" name="" id="">
            <input type="date">
            <select name="" id="">
                <option value="">3 adults · 1 child · 1 room</option>
            </select>
            <button class="search_btn">Search</button>
        </div>
        <div class="search_checkbox">
            <input type="checkbox" name="" id="">
            <small>I'm traveling for work</small>
        </div>
        <div class="covid">
            <div>
                <small> <span><i class="fa-solid fa-circle-info"></i></span> Get the advice you need. Check the latest
                    COVID-19 restrictions before you travel.</small> <a href=""> Learn more</a>
            </div>

        </div>
    </div>

</div>