<div class="footer_container">
    <div class="footer">
        <div class="fLists">
            <ul class="fList">
                <li class="fListItem">Countries</li>
                <li class="fListItem">Regions</li>
                <li class="fListItem">Cities</li>
                <li class="fListItem">Districts</li>
                <li class="fListItem">Airports</li>
                <li class="fListItem">Hotels</li>
                <li class="fListItem">Places of interest</li>
            </ul>
            <ul class="fList">
                <li class="fListItem">Homes </li>
                <li class="fListItem">Apartments </li>
                <li class="fListItem">Resorts </li>
                <li class="fListItem">Villas</li>
                <li class="fListItem">Hostels</li>
                <li class="fListItem">B&Bs</li>
                <li class="fListItem">Guest houses</li>
            </ul>
            <ul class="fList">
                <li class="fListItem">Unique places to stay </li>
                <li class="fListItem">All destinations</li>
                <li class="fListItem">Discover</li>
                <li class="fListItem">Reviews</li>
                <li class="fListItem">Unpacked: Travel articles </li>
                <li class="fListItem">Travel communities </li>
                <li class="fListItem">Seasonal and holiday deals </li>
            </ul>
            <ul class="fList">
                <li class="fListItem">Car rental </li>
                <li class="fListItem">Flight Finder</li>
                <li class="fListItem">Restaurant reservations </li>
                <li class="fListItem">Booking.com for Travel Agents </li>
            </ul>
            <ul class="fList">
                <li class="fListItem">Coronavirus (COVID-19) FAQs</li>
                <li class="fListItem">About Booking.com</li>
                <li class="fListItem">Customer Service Help</li>
                <li class="fListItem">Partner Help</li>
                <li class="fListItem">Careers</li>
                <li class="fListItem">Sustainability</li>
                <li class="fListItem">Press center</li>
                <li class="fListItem">Safety Resource Center</li>
                <li class="fListItem">Investor relations</li>
                <li class="fListItem">Terms & conditions</li>
                <li class="fListItem">Partner dispute</li>
                <li class="fListItem">How We Work</li>
                <li class="fListItem">Privacy & cookie statement</li>
                <li class="fListItem">Corporate contact</li>
            </ul>
        </div>
    </div>
</div>