<div class="type_property">
    <div class="type_property_container">
        <h2>Browse by property type</h2>
        <swiper [slidesPerView]="1" [spaceBetween]="10" [navigation]="true" [breakpoints]="{
            '640': {
              slidesPerView: 2,
              spaceBetween: 15
            },
            '768': {
              slidesPerView: 4,
              spaceBetween: 15
            },
            '1024': {
              slidesPerView: 5,
              spaceBetween: 15
            }
          }" class="mySwiper">
            <ng-template swiperSlide>
                <a href="">
                    <img src="./../../assets/images/57584488.jpeg" alt="">
                    <h4>Hotels</h4>
                    <small>884,798 hotels</small>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a href="">
                    <img src="./../../assets/images/119467716.jpeg" alt="">
                    <h4>Apartments</h4>
                    <small>909,144 apartments</small>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a href="">
                    <img src="./../../assets/images/45450084.jpeg" alt="">
                    <h4>Resorts</h4>
                    <small>18,023 resorts</small>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a href="">
                    <img src="./../../assets/images/100235855.jpeg" alt="">
                    <h4>Villas</h4>
                    <small>478,029 villas</small>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a href="">
                    <img src="./../../assets/images/52979454.jpeg" alt="">
                    <h4>Cabins</h4>
                    <small>36,243 cabins</small>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a href="">
                    <img src="./../../assets/images/45450074.jpeg" alt="">
                    <h4>Cottages</h4>
                    <small>155,843 cottages</small>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a href="">
                    <img src="./../../assets/images/45450090.jpeg" alt="">
                    <h4>Glamping</h4>
                    <small>13,425 glamping sites</small>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a href="">
                    <img src="./../../assets/images/45450058.jpeg" alt="">
                    <h4>Serviced apartments</h4>
                    <small>35,313 serviced apartments</small>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a href="">
                    <img src="./../../assets/images/45450113.jpeg" alt="">
                    <h4>Holiday homes</h4>
                    <small>478,029 holiday homes</small>
                </a>
            </ng-template>
        </swiper>
    </div>

</div>