<div class="navbar">
    <div class="navContainer">
        <h1 class="logo">Booking.com</h1>
        <div class="navItems">
            <button class="navButton_country">BDT</button>
            <button class="navButton_flag"><img src="./../../assets/images/usa_flag.png" alt=""></button>
            <button class="navButton_question"><i class="fa-solid fa-question"></i></button>
            <button class="navButton_property">List Your Property</button>
            <button class="navButton_common">Register</button>
            <button class="navButton_common">Sign In</button>
        </div>
    </div>
</div>