<div class="destination">
    <div class="destination_container">
        <h2>Destinations we love</h2>
        <div class="tab">
            <ul>
                <li id="region" [class.color]="id==='region'" (click)="tabChange('region')">Regions</li>
                <li id="cities" [class.color]="id==='cities'" (click)="tabChange('cities')">Cities</li>
                <li id="place" [class.color]="id==='place'" (click)="tabChange('place')">Places Of Interest</li>
            </ul>

            <div class="content">
                <div class="content_value" *ngIf="id==='region'">
                    <div class="region_content">
                        <div>
                            <h5> <a href="">Mykonos</a></h5>
                            <small>1,453 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Uttar Pradesh</a></h5>
                            <small>4,376 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Phuket Province</a></h5>
                            <small>5,498 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Santorini</a></h5>
                            <small>1,763 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Hawaii</a></h5>
                            <small>1,453 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Uttar Pradesh</a></h5>
                            <small>4,376 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Phuket Province</a></h5>
                            <small>5,498 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Santorini</a></h5>
                            <small>1,763 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Mykonos</a></h5>
                            <small>1,453 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Uttar Pradesh</a></h5>
                            <small>4,376 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Phuket Province</a></h5>
                            <small>5,498 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Santorini</a></h5>
                            <small>1,763 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Mykonos</a></h5>
                            <small>1,453 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Uttar Pradesh</a></h5>
                            <small>4,376 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Phuket Province</a></h5>
                            <small>5,498 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Santorini</a></h5>
                            <small>1,763 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Mykonos</a></h5>
                            <small>1,453 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Uttar Pradesh</a></h5>
                            <small>4,376 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Phuket Province</a></h5>
                            <small>5,498 properties</small>
                        </div>
                    </div>
                </div>
                <div class="content_value" *ngIf="id==='cities'">
                    <div class="cities_content">
                        <div>
                            <h5> <a href="">Tahoe City, United States of America</a></h5>
                            <small>69 vacation rentals, 65 cottages, 64 villas, 64 vacation homes, 4 apartments</small>
                        </div>
                        <div>
                            <h5> <a href="">Portland, United States of America</a></h5>
                            <small>71 vacation rentals, 45 cottages, 44 villas, 44 vacation homes, 22 apartments</small>
                        </div>
                        <div>
                            <h5> <a href="">Atlantic City, United States of America</a></h5>
                            <small>94 vacation rentals, 55 apartments, 39 villas, 39 vacation homes, 39 cottages</small>
                        </div>
                        <div>
                            <h5> <a href="">Tahoe City, United States of America</a></h5>
                            <small>69 vacation rentals, 65 cottages, 64 villas, 64 vacation homes, 4 apartments</small>
                        </div>
                        <div>
                            <h5> <a href="">Portland, United States of America</a></h5>
                            <small>71 vacation rentals, 45 cottages, 44 villas, 44 vacation homes, 22 apartments</small>
                        </div>
                        <div>
                            <h5> <a href="">Atlantic City, United States of America</a></h5>
                            <small>94 vacation rentals, 55 apartments, 39 villas, 39 vacation homes, 39 cottages</small>
                        </div>
                        <div>
                            <h5> <a href="">Mykonos</a></h5>
                            <small>1,453 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Uttar Pradesh</a></h5>
                            <small>4,376 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Phuket Province</a></h5>
                            <small>5,498 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Santorini</a></h5>
                            <small>1,763 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Hawaii</a></h5>
                            <small>1,453 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Mykonos</a></h5>
                            <small>1,453 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Uttar Pradesh</a></h5>
                            <small>4,376 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Phuket Province</a></h5>
                            <small>5,498 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Santorini</a></h5>
                            <small>1,763 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Hawaii</a></h5>
                            <small>1,453 properties</small>
                        </div>
                    </div>
                </div>
                <div class="content_value" *ngIf="id==='place'">
                    <div class="place_content">
                        <div>
                            <h5> <a href="">Mykonos</a></h5>
                            <small>1,453 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Uttar Pradesh</a></h5>
                            <small>4,376 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Phuket Province</a></h5>
                            <small>5,498 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Santorini</a></h5>
                            <small>1,763 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Hawaii</a></h5>
                            <small>1,453 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Uttar Pradesh</a></h5>
                            <small>4,376 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Phuket Province</a></h5>
                            <small>5,498 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Santorini</a></h5>
                            <small>1,763 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Mykonos</a></h5>
                            <small>1,453 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Uttar Pradesh</a></h5>
                            <small>4,376 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Phuket Province</a></h5>
                            <small>5,498 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Santorini</a></h5>
                            <small>1,763 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Mykonos</a></h5>
                            <small>1,453 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Uttar Pradesh</a></h5>
                            <small>4,376 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Phuket Province</a></h5>
                            <small>5,498 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Santorini</a></h5>
                            <small>1,763 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Mykonos</a></h5>
                            <small>1,453 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Uttar Pradesh</a></h5>
                            <small>4,376 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Phuket Province</a></h5>
                            <small>5,498 properties</small>
                        </div>
                        <div>
                            <h5> <a href="">Uttar Pradesh</a></h5>
                            <small>4,376 properties</small>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</div>