<div class="bottom_most_footer_container">
   
    <div class="bottom_most_footer">
        <button class="extra_login"><a href="#">Extranet login</a></button>
        <div class="copyright"><small>Copyright © 1996–2022 Booking.com™. All rights reserved.
            </small></div>
        <small>Booking.com is part of Booking Holdings Inc., the world leader in online travel and related
            services.</small>
        <div class="bottom_most_footer_image">
            <div><img src="./../../assets/images/booking.png" alt=""></div>
            <div><img src="./../../assets/images/priceline.png" alt=""></div>
            <div><img src="./../../assets/images/kayak.png" alt=""></div>
            <div><img src="./../../assets/images/agoda.png" alt=""></div>
            <div><img src="./../../assets/images/rentalcars.png" alt=""></div>
            <div><img src="./../../assets/images/opentable.png" alt=""></div>
        </div>

    </div>
</div>