<div class="explore_bangladesh">
    <div class="explore_bd_container">
        <h2>Explore Bangladesh</h2>
        <p>These popular destinations have a lot to offer</p>
        <swiper [slidesPerView]="1" [spaceBetween]="10" [navigation]="true" [breakpoints]="{
            '640': {
              slidesPerView: 2,
              spaceBetween: 15
            },
            '768': {
              slidesPerView: 4,
              spaceBetween: 15
            },
            '1024': {
              slidesPerView: 5,
              spaceBetween: 15
            }
          }" class="mySwiper">
            <ng-template swiperSlide>
                <a href="">
                    <img src="./../../assets/images/666853.webp" alt="">
                    <h4>Cox's Bazar</h4>
                    <small> 60 properties</small>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a href="">
                    <img src="./../../assets/images/688201.webp" alt="">
                    <h4>Dhaka</h4>
                    <small> 255 properties</small>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a href="">
                    <img src="./../../assets/images/761433.webp" alt="">
                    <h4>Sylhet</h4>
                    <small> 49 properties</small>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a href="">
                    <img src="./../../assets/images/858544.webp" alt="">
                    <h4>Chittagong</h4>
                    <small> 40 properties</small>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a href="">
                    <img src="./../../assets/images/361.webp" alt="">
                    <h4>Rājshāhi</h4>
                    <small>7 properties</small>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a href="">
                    <img src="./../../assets/images/361.webp" alt="">
                    <h4>Kuākāta</h4>
                    <small>10 properties</small>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a href="">
                    <img src="./../../assets/images/361.webp" alt="">
                    <h4>Bāndarban</h4>
                    <small> 11 properties</small>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a href="">
                    <img src="./../../assets/images/361.webp" alt="">
                    <h4>Khulna</h4>
                    <small> 6 properties</small>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a href="">
                    <img src="./../../assets/images/361.webp" alt="">
                    <h4>Sreemangal</h4>
                    <small> 27 properties</small>
                </a>
            </ng-template>
            <ng-template swiperSlide>
                <a href="">
                    <img src="./../../assets/images/361.webp" alt="">
                    <h4>Gāzipur</h4>
                    <small> 8 properties</small>
                </a>
            </ng-template>
        </swiper>
    </div>

</div>