<div class="discount">
    <div class="discount_container">
        <div class="discount_content">
            <img src="./../../assets/images/globe.png" alt="">
            <div>
                <div>
                    <h1>Get instant discounts</h1>
                    <p>Just sign into your Booking.com account and look for the blue <br> Genius logo to save</p>
                </div>
                <div>
                    <button class="discount_signIn">Sign In</button>
                    <button class="discount_register">Register</button>
                </div>
            </div>
        </div>

    </div>
</div>