<div class="traveler">
    <h2>Connect with other travelers</h2>
    <div class="traveler_container">
        <div class="travel_contents">
            <a href="">
                <div>
                    <img src="./../../assets/images/34a3b1b5c3c9891cff189c1d3e6edcb0c7befba5.jpg" alt="">
                    <h4>United States of America</h4>
                    <small>Travel community <br>
                        763,218 travelers</small>
                </div>
            </a>
            <a href="">
                <div>
                    <img src="./../../assets/images/35a717b9feba5c8f800e2a8949dfa5014e4e79b4.jpg" alt="">
                    <h4>Travel Talk</h4>
                    <small>General discussion <br>
                        559,436 travelers</small>
                </div>
            </a>
            <a href="">
                <div>
                    <img src="./../../assets/images/happy.png" alt="">
                    <h4>More communities</h4>
                    <small>View all <br>
                        9,894,940 travelers</small>
                </div>
            </a>
        </div>
    </div>
</div>