<div class="offers">
    <div class="offers_container">
        <h2>Offers</h2>
        <p>Promotions, deals, and special offers for you</p>
        <div class="offer_content">
            <div class="offer_image"><img src="./../../assets/images/index_banner_getaway22_summer_2.jpg" alt=""></div>
            <div class="offer_others">
                <h3>Save 15% or more</h3>
                <p>This summer, make your dream trip a reality. Book and stay for less before Sep 30, 2022</p>
                <button class="offers_button">Explore deals</button>
            </div>
        </div>
    </div>
</div>